.header{
  background-color: hsl(200, 100%, 85%);
  height:13vh;
}

.header-dark{
  background-color: hsl(200, 100%, 15%);
  color: beige;
}

.header div{
  padding:1% 2%;
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .header{
    height: 7vh;
  }
}

@media screen and (max-height: 1400px) {
  .header{
    height: 7vh;
  }
}

@media screen and (max-height: 800px) {
  .header{
    height: 12vh;
  }
}

@media screen and (max-height: 700px) {
  .header{
    height: 12vh;
  }
}
